* {
    padding: 0;
    margin: 0;
}
body {
    background-color: rgb(0, 18, 43);
    color: white;
}
nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 4vh;
}
.menu ul {
    list-style: none;
    display: flex;
}
.menu li a {
    text-decoration: none;
    color: white;
    margin-right: 5rem;
    font-size: 18px;
}
.hamburger {
    display: none;
}
.line {
    width: 30px;
    height: 4px;
    background-color: white;
    margin-top: 4px;
}
.countdown {
    display: flex;
    margin-top: 4vh;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.day, .hour, .minute, .second {
    width: 5vw;
    height: 10vh;
    background-color: rgb(18, 18, 87);
    border-radius: 6px;
    font-size: 16px;
    font-family: monospace;
}
.day h2, .hour h2, .minute h2, .second h2 {
    margin: 19px;
}
@media screen and (max-width: 1320px) {
    nav {
        padding: 0 50px;
    }
}
@media screen and (max-width: 1100px) {
    nav {
        padding: 0 30px;
    }
}
@media screen and (max-width: 900px) {
    nav {
        gap: 3rem;
        justify-content: center;
    }
    .menu {
        height: 0;
        position: absolute;
        top: 80px;
        right: 0;
        left: 0;
        z-index: 100;
        display: none;
    }
    .menu.clicked {
        display: block;
        height: 250px;
        width: 100%;
        transition: 0.2s;
    }
    .menu ul {
        display: block;
        text-align: center;
        background-color: rgb(4, 4, 53);
    }
    .menu li {
        margin-top: 1rem;
        padding: 1rem;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
    
}