* {
    padding: 0;
    margin: 0;
}
body {
    background-color: rgb(0, 18, 43);
    color: white;
}
nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 4vh;
}
.menu ul {
    list-style: none;
    display: flex;
}
.menu li a {
    text-decoration: none;
    color: white;
    margin-right: 5rem;
    font-size: 18px;
}
.hamburger {
    display: none;
}
.line {
    width: 30px;
    height: 4px;
    background-color: white;
    margin-top: 4px;
}
.countdown {
    display: flex;
    margin-top: 4vh;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.day, .hour, .minute, .second {
    width: 5vw;
    height: 10vh;
    background-color: rgb(18, 18, 87);
    border-radius: 6px;
    font-size: 16px;
    font-family: monospace;
}
.day h2, .hour h2, .minute h2, .second h2 {
    margin: 19px;
}
.accordion {
    display: block;
    margin: 3rem;
    width: 40%;
}
.link1 h3 {
    background-color: rgb(82, 82, 185);
    height: 6vh;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding-left: 1rem;
    cursor: pointer;
}
.link2 h3 {
    background-color: rgb(82, 82, 185);
    height: 6vh;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding-left: 1rem;
    cursor: pointer;
}
.link3 h3 {
    background-color: rgb(82, 82, 185);
    height: 6vh;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding-left: 1rem;
    cursor: pointer;
}
.dropdown p {
    background-color: rgb(9, 9, 85);
    height: 10vh;
    border-radius: 5px;
    padding: 1rem;
    display: none;
}
.dropdown2 p {
    background-color: rgb(9, 9, 85);
    height: 10vh;
    border-radius: 5px;
    padding: 1rem;
    display: none;
}
.dropdown3 p {
    background-color: rgb(9, 9, 85);
    height: 10vh;
    border-radius: 5px;
    padding: 1rem;
    display: none;
}
.dropdown.drop p {
    display: block;
    transition: 0.3s;
}
.dropdown2.drop p {
    display: block;
    transition: 0.3s;
}
.dropdown3.drop p {
    display: block;
    transition: 0.3s;
}
.modal button {
    padding: 5px;
    font-size: 20px;
    font-family: monospace;
    margin-left: 3rem;
    margin-top: 1rem;
    cursor: pointer;
}
.modalpop {
    border-radius: 8px;
    background-color: rgb(0, 37, 61);
    width: 40%;
    height: 28vh;
    margin: 2rem;
    text-align: center;
    display: none;
}
.modalpop.modalshow {
    display: block;
    transition: 0.2s;
}
.person {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:  2rem;
    margin: 3em 8rem;
}
.person-box {
    display: flex;
    gap: 1.5rem;
    padding: 12px 12px;
    background-color: rgb(21, 26, 71);
    border-radius: 10px;
    width: 25vw;
    height: 15vh;
}
.person-box img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
.person-box2 {
    display: flex;
    gap: 1.5rem;
    padding: 12px 12px;
    background-color: rgb(21, 26, 71);
    border-radius: 10px;
    width: 25vw;
    height: 15vh;
}
.person-box2 img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
.person-box3 {
    display: flex;
    gap: 1.5rem;
    padding: 12px 12px;
    background-color: rgb(21, 26, 71);
    border-radius: 10px;
    width: 25vw;
    height: 15vh;
}
.person-box3 img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
.delete {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.delete img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.comment p {
    width: 85%;
}
.person-box.deleted {
    display: none;
}
.person-box2.deleted {
    display: none;
}
.person-box3.deleted {
    display: none;
}
#create {
    padding: 10px;
    border-radius: 5px;
    margin: 2rem 3rem;
    cursor: pointer;
}
.boxpop {
    width: 25vw;
    height: 25vh;
    border-radius: 10px;
    background-color: rgb(10, 18, 68);
    margin: 2rem 3rem;
    padding: 2rem 2rem;
    display: none;
}
.boxpop.listpop {
    display: block;
}
@media screen and (max-width: 1320px) {
    nav {
        padding: 0 50px;
    }
}
@media screen and (max-width: 1100px) {
    nav {
        padding: 0 30px;
    }
}
@media screen and (max-width: 900px) {
    nav {
        gap: 3rem;
        justify-content: center;
    }
    .menu {
        height: 0;
        position: absolute;
        top: 80px;
        right: 0;
        left: 0;
        z-index: 100;
        display: none;
    }
    .menu.clicked {
        display: block;
        height: 250px;
        width: 100%;
        transition: 0.2s;
    }
    .menu ul {
        display: block;
        text-align: center;
        background-color: rgb(4, 4, 53);
    }
    .menu li {
        margin-top: 1rem;
        padding: 1rem;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
    
}